{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}

	.<div class="container">

		<h1 class="mb-3">S'inscrire en tant qu'utilisateur</h1><hr>

		{{ form_start(registrationForm) }}
		{{ form_row(registrationForm.email) }}
		{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
		{{ form_row(registrationForm.agreeTerms) }}

		<button type="submit" class="btn">Register</button>

		<a class="dropdown-item" href="{{path( 'app_register')}}">Vous êtes propriétaire ?</a>


	</div>

	{{ form_end(registrationForm) }}
{% endblock %}
