<div class="m-5 ">

	<div{{attributes}} class="container col-4 p-5 bg-light-subtle">
		{{ form_start(form) }}
		{{ form_row(form.title) }}
		{{ form_row(form.surface) }}
		{{ form_row(form.nbrRoom) }}
		{{ form_row(form.nbrBed) }}
		{{ form_row(form.isAnimalAllowed) }}
		{{ form_row(form.animalPrice) }}
		{{ form_row(form.description) }}
		{{ form_row(form.EquipementInts) }}
		{{ form_row(form.equipementExts) }}
		{{ form_row(form.contact) }}

		<h5>Services :</h5>
		{% for key, giteServiceForm in form.giteServices %}
			{{ form_widget(giteServiceForm) }}
			<button data-action="live#action" data-action-name="removeGiteService(index={{ key }})" type="button" class="btn btn-sm btn-danger">Supprimer</button>

		{% endfor %}
		<button data-action="live#action" data-action-name="addGiteService" type="button" class="btn btn-sm btn-primary">Ajouter</button>

		<h5>Photos :</h5>
		{% for key, photoForm in form.photos %}
			{{ form_widget(photoForm) }}
			<button data-action="live#action" data-action-name="removePhoto(index={{ key }})" type="button" class="btn btn-sm btn-danger">Supprimer</button>
		{% endfor %}
		<button data-action="live#action" data-action-name="addPhoto" type="button" class="btn btn-sm btn-primary">Ajouter</button><br>
		<div class="container text-center mt-3">
			<button type="submit" class="btn btn-success btn-lg">Ajouter</button>
		</div>
		{{ form_end(form) }}
	</div>
</div>
